body {
    background-color: darkgray;
    margin: 0 auto;
    max-width: 1600px;
}

.header_img {
    width: 100%;
    float: left;
}

.img_1 img {
    border: 10px solid gray;
    border-radius: 50%;
    float: left;
    width: 30%;
    background-color: darkgray;
}

.img_2 img {
    border: 10px solid gray;
    border-radius: 50%;
    float: left;
    width: 30%;
    background-color: darkgray;
}

.img_3 img {
    border: 10px solid gray;
    border-radius: 50%;
    float: left;
    width: 30%;
    background-color: darkgray;
}
